.form {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 3.6rem 15rem 3.6rem;
  gap: 1.2rem;
}

.form h3 {
  font-size: 3.6rem;
}

.form label {
  font-size: 1.8rem;
}

.form input {
  font-size: 3.6rem;
  background-color: none;
  border: none;
  border-radius: 4px;
  padding: 8px 4px;
}
